Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: remove unused metadata
  docs/app/[lang]/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: can convert Webkit* and Moz* CSS
  packages/system/src/__tests__/system.test.ts
  packages/system/src/css.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

style: remove all: unset
  docs/app/[lang]/layout.tsx
  docs/components/docs/homepage/features/Styling.tsx
  docs/components/docs/homepage/features/index.ts
  docs/components/docs/homepage/index.tsx
  notes/todo.md
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/buttonBase/ButtonBase.tsx
  packages/react/src/components/buttonBase/__tests__/__snapshots__/ButtonBase.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/index.ts
  packages/react/src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/inputBase/__tests__/__snapshots__/InputBase.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/switch/__stories__/Switch.stories.tsx
  packages/react/src/components/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/drawer.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/recipes/radioGroup.ts
  packages/react/src/theme/recipes/switch.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: remove unused modal recipe file
  packages/react/src/components/modal/ModalBackdrop.tsx
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalFooter.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/ModalPanel.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/modal.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update input styles for autofill and focus visibility
  notes/todo.md
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/inputBase/__tests__/__snapshots__/InputBase.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/system/selectors.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: rename focusVisible to focusVisibleRing
  packages/react/src/components/buttonBase/__tests__/ButtonBase.test.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/radioGroup/__tests__/Radio.test.tsx
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/drawer.ts
  packages/react/src/theme/recipes/radioGroup.ts
  packages/react/src/theme/recipes/switch.ts
  packages/react/src/theme/system/selectors.ts
  packages/react/src/types/generated/selectors.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

v0.0.14
  .changeset/proud-melons-confess.md
Due: prettier --write . --config .prettierrc.mjs

chore: inherit secrets in release workflow
  .github/workflows/release.yml
  .github/workflows/sync-main-to-dev.yml
Due: none

v0.0.15
  .changeset/happy-lemons-hear.md
Due: prettier --write . --config .prettierrc.mjs

v0.0.16
  .changeset/early-trains-ring.md
Due: prettier --write . --config .prettierrc.mjs

fix: add check for pull request number before commenting on sync status
  .github/workflows/release.yml
Due: none

chore: remove comment PR job from release workflow
  .github/workflows/release.yml
Due: none

fix: Threads flickering
  docs/components/docs/homepage/Threads.tsx
  docs/components/docs/homepage/index.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: update package versions
  examples/nex-ui-nextjs-app/package.json
  examples/nex-ui-nextjs-pages/package.json
  examples/nex-ui-vite-swc/package.json
  examples/nex-ui-vite/package.json
Due: prettier --write . --config .prettierrc.mjs

temp
  packages/react/src/components/utils/useDefaultProps.ts
  scripts/build.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: fix build script output
  packages/react/src/components/utils/useDefaultProps.ts
  scripts/build.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

v0.0.17
  .changeset/lemon-swans-yell.md
Due: prettier --write . --config .prettierrc.mjs

docs: fix color mode toggle
  docs/components/docs/homepage/features/demos/MusicPlayer.demo.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

Path conditions:
  prettier --write . --config .prettierrc.mjs: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.{cjs,mjs,js,jsx,ts,tsx}) or (any of: scripts/**/*.{cjs,mjs,js,jsx,ts,tsx})
  eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix: any of: docs/**/*.{cjs,mjs,js,jsx,ts,tsx}
