Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

test: add FocusTrap test cases
  packages/react/src/components/focusTrap/FocusTrap.tsx
  packages/react/src/components/focusTrap/__tests__/FocusTrap.test.tsx
  packages/react/src/components/focusTrap/__tests__/getTabbable.test.ts
  packages/react/src/components/focusTrap/getTabbable.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

test: add Dialog test cases
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/classes.ts
  packages/react/src/components/avatar/__tests__/Avatar.test.tsx
  packages/react/src/components/avatar/__tests__/AvatarGroup.test.tsx
  packages/react/src/components/avatar/classes.ts
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/classes.ts
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogBody.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogFooter.tsx
  packages/react/src/components/dialog/DialogHeader.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/theme/recipes/dialog.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

test: add utils test cases
  jest.config.ts
  packages/react/src/components/provider/Provider.tsx
  packages/react/src/components/provider/__tests__/Provider.test.tsx
  packages/react/src/components/utils/__tests__/generateUtilityClasses.test.ts
  packages/react/src/components/utils/__tests__/useSlot.test.tsx
  packages/react/src/components/utils/__tests__/useSlotClasses.test.ts
  packages/react/src/components/utils/__tests__/useSlotProps.test.ts
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/portal/Portal.tsx
  packages/react/src/components/utils/portal/__tests__/Portal.test.tsx
  packages/react/src/components/utils/ripple/__tests__/Ripple.test.tsx
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
  packages/react/src/components/utils/useSlot.tsx
  packages/react/src/components/utils/useSlotProps.ts
  packages/react/src/theme/__tests__/defineColorScheme.test.ts
  packages/react/src/theme/__tests__/defineTheme.test.ts
  packages/react/src/theme/defineTheme.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: add codecov
  .github/workflows/QA.yml
  codecov.yml
Due: none

chore: update jest.config.ts
  jest.config.ts
Due: prettier --write . --config .prettierrc.mjs

chore: update workflows
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
Due: none

chore: update workflows
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
Due: none

refactor: remove useless context value
  packages/react/src/components/accordion/AccordionContext.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/provider/Context.ts
  packages/system/src/colorScheme/ColorSchemeContex.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

test: add some test cases
  codecov.yml
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/focusTrap/__tests__/getTabbable.test.ts
  packages/react/src/components/icon/__tests__/Icon.test.tsx
  packages/react/src/components/icon/iconClasses.ts
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__tests__/Input.test.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/system/src/__tests__/__snapshots__/system.test.ts.snap
  packages/system/src/__tests__/system.test.ts
  packages/system/src/__tests__/tokens.test.ts
  packages/system/src/colorScheme/ColorSchemeProvider.tsx
  packages/system/src/tokens/createTokens.ts
  packages/system/src/tokens/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: fix Chromatic CLI run errors
  sb/package.json
Due: prettier --write . --config .prettierrc.mjs

chore: update README.md
  .github/workflows/visual-tests.yml
  README.md
  assets/badge.svg
Due: prettier --write . --config .prettierrc.mjs

chore: update workflows
  .github/workflows/QA.yml
  .github/workflows/visual-tests.yml
Due: none

chore: update README.md
  README.md
Due: prettier --write . --config .prettierrc.mjs

chore: update codecov.yml
  codecov.yml
Due: none
