Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

feat: update color to oklch format
  docs/components/docs/ColorsSet.tsx
  packages/react/src/theme/system/tokens/colors.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: update component styles
  docs/package.json
  packages/react/src/components/button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/recipes/radioGroup.ts
  packages/react/src/theme/recipes/switch.ts
  packages/react/src/theme/shared/colorVariant.ts
  packages/react/src/theme/shared/fullWidthVariant.ts
  packages/react/src/theme/shared/index.ts
  packages/react/src/theme/shared/radiusVariant.ts
  packages/react/src/theme/shared/sizeVariant.ts
  packages/react/src/theme/shared/variants.ts
  packages/react/src/theme/system/selectors.ts
  packages/react/src/types/theme.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add icons
  packages/icons/src/components/filled/CheckCircleFilled.tsx
  packages/icons/src/components/filled/ExclamationCircleFilled.tsx
  packages/icons/src/components/filled/ExclamationShieldFilled.tsx
  packages/icons/src/components/filled/ExclamationSquareFilled.tsx
  packages/icons/src/components/index.tsx
  packages/icons/src/components/outlined/CheckCircleOutlined.tsx
  packages/icons/src/components/outlined/ExclamationCircleOutlined.tsx
  packages/icons/src/components/outlined/ExclamationShieldOutlined.tsx
  packages/icons/src/components/outlined/ExclamationSquareOutlined.tsx
  packages/icons/src/svg/filled/check-circle.svg
  packages/icons/src/svg/filled/exclamation-circle.svg
  packages/icons/src/svg/filled/exclamation-shield.svg
  packages/icons/src/svg/filled/exclamation-square.svg
  packages/icons/src/svg/outlined/check-circle.svg
  packages/icons/src/svg/outlined/exclamation-circle.svg
  packages/icons/src/svg/outlined/exclamation-shield.svg
  packages/icons/src/svg/outlined/exclamation-square.svg
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Alert component
  notes/todo.md
  packages/react/src/components/alert/Alert.tsx
  packages/react/src/components/alert/__stories__/Alert.stories.tsx
  packages/react/src/components/alert/__tests__/Alert.test.tsx
  packages/react/src/components/alert/__tests__/__snapshots__/Alert.test.tsx.snap
  packages/react/src/components/alert/alertClasses.ts
  packages/react/src/components/alert/index.ts
  packages/react/src/components/alert/types.ts
  packages/react/src/components/avatar/AvatarGroup.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/theme/recipes/alert.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/tokens/colors.ts
  packages/react/src/types/componentThemes.ts
  tests/shared/testColorClasses.tsx
  tests/shared/testComponentStability.tsx
  tests/shared/testRadiusClasses.tsx
  tests/shared/testRootClassName.tsx
  tests/shared/testSizeClasses.tsx
  tests/shared/testVariantClasses.tsx
  tsconfig.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  docs/components/docs/ColorsSet.tsx
  docs/components/sandpack/IconButton.tsx
  docs/content/zh/docs/components/button.mdx
  packages/react/src/components/alert/__tests__/Alert.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: add Alert component
  docs/components/docs/ColorsSet.tsx
  docs/components/sandpack/IconButton.tsx
  docs/content/zh/docs/components/button.mdx
  notes/todo.md
  packages/icons/src/components/index.tsx
  packages/react/src/components/alert/Alert.tsx
  packages/react/src/components/alert/__stories__/Alert.stories.tsx
  packages/react/src/components/alert/__tests__/Alert.test.tsx
  packages/react/src/components/alert/__tests__/__snapshots__/Alert.test.tsx.snap
  packages/react/src/components/alert/alertClasses.ts
  packages/react/src/components/alert/index.ts
  packages/react/src/components/alert/types.ts
  packages/react/src/components/avatar/AvatarGroup.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/theme/recipes/alert.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/tokens/colors.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/selectors.ts
  tests/shared/testColorClasses.tsx
  tests/shared/testComponentStability.tsx
  tests/shared/testRadiusClasses.tsx
  tests/shared/testRootClassName.tsx
  tests/shared/testSizeClasses.tsx
  tests/shared/testVariantClasses.tsx
  tsconfig.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: fix color mode toggle
  docs/components/docs/homepage/features/demos/MusicPlayer.demo.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: add Alert documentation
  docs/content/_demo/alert/Closable.demo.tsx
  docs/content/_demo/alert/Colors.demo.tsx
  docs/content/_demo/alert/CustomIcon.demo.tsx
  docs/content/_demo/alert/HideIcon.demo.tsx
  docs/content/_demo/alert/Radius.demo.tsx
  docs/content/_demo/alert/Status.demo.tsx
  docs/content/_demo/alert/Usage.demo.tsx
  docs/content/_demo/alert/Variants.demo.tsx
  docs/content/_demo/alert/WithAction.demo.tsx
  docs/content/_demo/alert/index.tsx
  docs/content/_demo/index.ts
  docs/content/en/docs/components/_meta.ts
  docs/content/en/docs/components/alert.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/alert.mdx
  packages/react/src/components/alert/Alert.tsx
  packages/react/src/components/alert/__stories__/Alert.stories.tsx
  packages/react/src/components/alert/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: add 'faded' variant to Button component
  docs/content/_demo/button/Variants.demo.tsx
  docs/content/en/docs/components/button.mdx
  docs/content/zh/docs/components/button.mdx
  packages/react/src/components/button/__stories__/Button.stories.tsx
  packages/react/src/components/button/__tests__/Button.test.tsx
  packages/react/src/components/button/buttonClasses.ts
  packages/react/src/theme/recipes/button.ts
  packages/system/src/normalize.ts
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: update Input component variants and styles for 'faded' variant
  packages/react/src/components/input/__stories__/Input.stories.tsx
  packages/react/src/theme/recipes/input.ts
  packages/system/src/__tests__/system.test.ts
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update homepage
  docs/components/docs/homepage/Gallery.client.tsx
  docs/middleware.ts
  docs/public/avatars/avatar-1.jpg
  docs/public/avatars/avatar-2.jpg
  docs/public/avatars/avatar-3.webp
  docs/public/avatars/avatar-4.jpg
  docs/public/images/avatar_1.jpeg
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: add Card component
  packages/react/src/components/card/Card.tsx
  packages/react/src/components/card/CardActionArea.tsx
  packages/react/src/components/card/CardBody.tsx
  packages/react/src/components/card/CardFooter.tsx
  packages/react/src/components/card/CardHeader.tsx
  packages/react/src/components/card/__stories__/Card.stories.tsx
  packages/react/src/components/card/__tests__/Card.test.tsx
  packages/react/src/components/card/__tests__/CardActionArea.test.tsx
  packages/react/src/components/card/__tests__/CardBody.test.tsx
  packages/react/src/components/card/__tests__/CardFooter.test.tsx
  packages/react/src/components/card/__tests__/CardHeader.test.tsx
  packages/react/src/components/card/__tests__/__snapshots__/Card.test.tsx.snap
  packages/react/src/components/card/__tests__/__snapshots__/CardHeader.test.tsx.snap
  packages/react/src/components/card/classes.ts
  packages/react/src/components/card/index.ts
  packages/react/src/components/card/types.ts
  packages/react/src/components/index.ts
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/theme/recipes/card.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/theme/system/tokens/shadows.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/semanticTokens.ts
  tests/shared/index.ts
  tests/shared/testClassesForwarding.tsx
  tests/shared/testRefForwarding.tsx
  tests/shared/testSlotPropsForwarding.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: system supports nested array values
  packages/system/src/__tests__/system.test.ts
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix
