Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: update jest.config.ts
  jest.config.ts
Due: prettier --write . --config .prettierrc.mjs

chore: add codecov
  .github/workflows/QA.yml
  codecov.yml
Due: none

chore: update workflows
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
Due: none

chore: update codecov.yml
  codecov.yml
Due: none

test: add Dialog test cases
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/classes.ts
  packages/react/src/components/avatar/__tests__/Avatar.test.tsx
  packages/react/src/components/avatar/__tests__/AvatarGroup.test.tsx
  packages/react/src/components/avatar/classes.ts
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/classes.ts
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogBody.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogFooter.tsx
  packages/react/src/components/dialog/DialogHeader.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/theme/recipes/dialog.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update workflows
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
Due: none

refactor: remove useless context value
  packages/react/src/components/accordion/AccordionContext.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/provider/Context.ts
  packages/system/src/colorScheme/ColorSchemeContex.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

test: add utils test cases
  jest.config.ts
  packages/react/src/components/provider/Provider.tsx
  packages/react/src/components/provider/__tests__/Provider.test.tsx
  packages/react/src/components/utils/__tests__/generateUtilityClasses.test.ts
  packages/react/src/components/utils/__tests__/useSlot.test.tsx
  packages/react/src/components/utils/__tests__/useSlotClasses.test.ts
  packages/react/src/components/utils/__tests__/useSlotProps.test.ts
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/portal/Portal.tsx
  packages/react/src/components/utils/portal/__tests__/Portal.test.tsx
  packages/react/src/components/utils/ripple/__tests__/Ripple.test.tsx
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
  packages/react/src/components/utils/useSlot.tsx
  packages/react/src/components/utils/useSlotProps.ts
  packages/react/src/theme/__tests__/defineColorScheme.test.ts
  packages/react/src/theme/__tests__/defineTheme.test.ts
  packages/react/src/theme/defineTheme.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update workflows
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
  notes/gitflow.md
Due: prettier --write . --config .prettierrc.mjs

v0.0.11
  .changeset/brown-clouds-beg.md
Due: prettier --write . --config .prettierrc.mjs

chore: update workflows
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/sync-main-to-dev.yml
  .github/workflows/visual-tests.yml
  notes/gitflow.md
Due: prettier --write . --config .prettierrc.mjs

chore: update package.json
  docs/public/sitemap-0.xml
  notes/gitflow.md
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs

v0.0.12
  .changeset/flat-wombats-reply.md
Due: prettier --write . --config .prettierrc.mjs

chore: update workflows
  .github/workflows/sync-main-to-dev.yml
Due: none

chore: test
  README.md
Due: prettier --write . --config .prettierrc.mjs

chore: update workflows
  .github/workflows/QA.yml
  codecov.yml
Due: none

chore: update workflows
  README.md
Due: prettier --write . --config .prettierrc.mjs

chore: update configuration
  .coderabbit.yaml
  .github/workflows/QA.yml
  README.md
  codecov.yml
Due: prettier --write . --config .prettierrc.mjs

chore: update README.md
  README.md
  assets/badge.svg
Due: prettier --write . --config .prettierrc.mjs

chore: update .coderabbit.yaml
  .coderabbit.yaml
Due: none

docs: update styles
  docs/components/CodeBlock.tsx
  docs/components/docs/homepage/CodeWindow.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update docs
  docs/components/docs/homepage/index.tsx
  docs/components/sandpack/IconButton.tsx
  docs/content/_demo/avatar/Radius.demo.tsx
  docs/content/_demo/avatar/Sizes.demo.tsx
  docs/content/_demo/checkbox/Indeterminate.demo.tsx
  docs/content/_demo/checkbox/index.tsx
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/customization/theming.mdx
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/content/zh/docs/customization/theming.mdx
  packages/react/src/components/accordion/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: fix the modal animation is covered
  .coderabbit.yaml
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/Motion.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/useSlotProps.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix the modal animation is covered
  .coderabbit.yaml
  docs/content/en/docs/components/checkbox.mdx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/Motion.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/useSlotProps.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

Path conditions:
  prettier --write . --config .prettierrc.mjs: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.{cjs,mjs,js,jsx,ts,tsx}) or (any of: scripts/**/*.{cjs,mjs,js,jsx,ts,tsx})
  eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix: any of: docs/**/*.{cjs,mjs,js,jsx,ts,tsx}
