Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

feat: system supports nested array values
  packages/system/src/__tests__/system.test.ts
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add camelToKebab and kebabToCamel utility functions
  packages/utils/src/__tests__/camelToKebab.test.ts
  packages/utils/src/__tests__/kebabToCamel.test.ts
  packages/utils/src/camelToKebab.ts
  packages/utils/src/index.ts
  packages/utils/src/kebabToCamel.ts
  tests/shared/utils.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: refactor CSS function to support nested arrays
  packages/react/src/components/utils/__tests__/useSlot.test.tsx
  packages/react/src/components/utils/useSlot.tsx
  packages/system/package.json
  packages/system/src/__tests__/system.test.ts
  packages/system/src/aliases.ts
  packages/system/src/css.ts
  packages/system/src/system.ts
  packages/system/src/types.ts
  packages/system/src/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/kebabToCamel.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: preload avatar images in Gallery component
  docs/app/[lang]/layout.tsx
  docs/components/docs/homepage/Gallery.tsx
  docs/nextraTheme/components/navbar/index.client.tsx
  docs/nextraTheme/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: simplify promise resolution in renderWithNexUIProvider calls
  tests/shared/testClassesForwarding.tsx
  tests/shared/testComponentStability.tsx
  tests/shared/testRefForwarding.tsx
  tests/shared/testRootClassName.tsx
  tests/shared/testSlotPropsForwarding.tsx
  tests/shared/testVariantClasses.tsx
  tsconfig.json
Due: prettier --write . --config .prettierrc.mjs

refactor: remove useSlotProps
  packages/react/src/components/buttonBase/ButtonBase.tsx
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/modal/ModalBackdrop.tsx
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalFooter.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/ModalMotion.tsx
  packages/react/src/components/modal/ModalPanel.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/utils/__tests__/useSlotProps.test.ts
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/useSlotProps.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: improve modal accessibility
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/ModalMotion.tsx
  packages/react/src/components/modal/ModalTrigger.tsx
  packages/react/src/components/modal/__tests__/ModalTrigger.test.tsx
  packages/react/src/components/switch/Switch.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  notes/todo.md
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useUnmount.ts
  packages/react/src/components/index.ts
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/popup/Popup.tsx
  packages/react/src/components/popup/PopupContent.tsx
  packages/react/src/components/popup/PopupContext.ts
  packages/react/src/components/popup/PopupPositioner.tsx
  packages/react/src/components/popup/PopupTrigger.tsx
  packages/react/src/components/popup/index.ts
  packages/react/src/components/popup/types.ts
  packages/react/src/components/utils/PresenceMotion.tsx
  packages/react/src/components/utils/index.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/ownerWindow.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  notes/todo.md
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useUnmount.ts
  packages/react/src/components/index.ts
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperArrow.tsx
  packages/react/src/components/popper/PopperContent.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperPositioner.tsx
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/index.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/utils/PresenceMotion.tsx
  packages/react/src/components/utils/index.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/ownerWindow.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  notes/todo.md
  packages/react/src/components/accordion/Accordion.tsx
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/classes.ts
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/utils/composeClasses.ts
  packages/react/src/components/utils/generateDataAttrs.ts
  packages/react/src/components/utils/useSlot.tsx
  packages/react/tsconfig.json
  tests/jest-matchers.d.ts
  tests/jest.setup.ts
  tests/shared/index.ts
  tests/shared/testColorClasses.tsx
  tests/shared/testRadiusClasses.tsx
  tests/shared/testSizeClasses.tsx
  tests/shared/testVariantClasses.tsx
  tests/shared/testVariantDataAttrs.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add useDebounce, useMergeRefs, and useUnmount hooks
  packages/hooks/src/__tests__/useDebounce.test.ts
  packages/hooks/src/__tests__/useMergeRefs.test.ts
  packages/hooks/src/__tests__/useUnmount.test.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useMergeRefs.ts
  packages/hooks/src/useUnmount.ts
  packages/react/src/components/alert/__tests__/constants.ts
  packages/react/src/components/button/__tests__/constants.ts
  packages/react/src/components/checkbox/__tests__/constants.ts
  packages/react/src/components/divider/__tests__/constants.ts
  packages/react/src/components/flex/__tests__/constants.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add jest configuration and update package dependencies
  docs/components/CodeBlock.tsx
  docs/components/docs/homepage/Threads.tsx
  docs/components/sandpack/useSandpack.tsx
  eslint.config.mjs
  jest.config.mjs
  package.json
  packages/cli/src/actions/init.ts
  packages/react/src/components/avatar/Avatar.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/focusTrap/FocusTrap.tsx
  packages/react/src/components/input/__tests__/constants.ts
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/radioGroup/RadioGroup.tsx
  packages/react/src/components/radioGroup/__tests__/constants.ts
  packages/react/src/components/switch/__tests__/constants.ts
  packages/react/src/components/utils/__tests__/useSlot.test.tsx
  packages/react/tsconfig.json
  packages/styled/src/Insertion.tsx
  packages/system/src/__tests__/SystemProvider.test.tsx
  packages/system/src/__tests__/system.test.ts
  packages/system/src/normalize.ts
  packages/system/src/tokens/createTokens.ts
  packages/utils/package.json
  packages/utils/src/__tests__/camelToKebab.test.ts
  packages/utils/src/__tests__/mergeRefs.test.tsx
  packages/utils/src/addEventListener.ts
  packages/utils/src/index.ts
  packages/utils/src/mergeRefs.ts
  packages/utils/src/ownerWindow.ts
  pnpm-lock.yaml
  scripts/buildSysTs/index.ts
  tsconfig.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix
