Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

docs: update styles
  docs/components/CodeBlock.tsx
  docs/components/docs/homepage/CodeWindow.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update docs
  docs/components/docs/homepage/index.tsx
  docs/components/sandpack/IconButton.tsx
  docs/content/_demo/avatar/Radius.demo.tsx
  docs/content/_demo/avatar/Sizes.demo.tsx
  docs/content/_demo/checkbox/Indeterminate.demo.tsx
  docs/content/_demo/checkbox/index.tsx
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/customization/theming.mdx
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/content/zh/docs/customization/theming.mdx
  packages/react/src/components/accordion/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: fix the modal animation is covered
  .coderabbit.yaml
  docs/content/en/docs/components/checkbox.mdx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/Motion.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/useSlotProps.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  docs/components/ComponentLinks.tsx
  docs/content/_demo/dialog/Controlled.demo.tsx
  docs/content/_demo/dialog/FullScreen.demo.tsx
  docs/content/_demo/dialog/HideBackdrop.demo.tsx
  docs/content/_demo/dialog/KeepMounted.demo.tsx
  docs/content/_demo/dialog/MaxWidths.demo.tsx
  docs/content/_demo/dialog/Placements.demo.tsx
  docs/content/_demo/dialog/PreventScroll.demo.tsx
  docs/content/_demo/dialog/ScrollBehavior.demo.tsx
  docs/content/_demo/dialog/Usage.demo.tsx
  docs/content/_demo/dialog/index.tsx
  docs/content/_demo/index.ts
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/dialog.mdx
  notes/todo.md
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

temp
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/types.ts
  packages/system/src/normalize.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix the dialog types
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/index.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/input/types.ts
  packages/react/src/components/modal/types.ts
  packages/system/src/normalize.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add motionProps to dialog
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/dialog/index.ts
  packages/react/src/components/dialog/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update dialog component docs
  docs/components/ComponentLinks.tsx
  docs/content/_demo/dialog/Controlled.demo.tsx
  docs/content/_demo/dialog/CustomMotion.demo.tsx
  docs/content/_demo/dialog/FullScreen.demo.tsx
  docs/content/_demo/dialog/HideBackdrop.demo.tsx
  docs/content/_demo/dialog/KeepMounted.demo.tsx
  docs/content/_demo/dialog/MaxWidths.demo.tsx
  docs/content/_demo/dialog/Placements.demo.tsx
  docs/content/_demo/dialog/PreventScroll.demo.tsx
  docs/content/_demo/dialog/ScrollBehavior.demo.tsx
  docs/content/_demo/dialog/Usage.demo.tsx
  docs/content/_demo/dialog/index.tsx
  docs/content/_demo/index.ts
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/nextraTheme/mdx-components/wrapper.client.tsx
  packages/react/src/components/dialog/DialogContent.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: deal with the accessibility issues with multiple modals
  notes/todo.md
  package.json
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/focusTrap/FocusTrap.tsx
  packages/react/src/components/focusTrap/__tests__/FocusTrap.test.tsx
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalManager.ts
  packages/react/src/components/modal/ModalMotion.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/__tests__/ModalManager.test.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/portal/Portal.tsx
  packages/react/src/components/utils/portal/types.ts
  packages/react/src/components/utils/ripple/__tests__/Ripple.test.tsx
  packages/utils/src/index.ts
  packages/utils/src/ownerDocument.ts
  packages/utils/src/ownerWindow.ts
  pnpm-lock.yaml
  tests/jest.setup.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update default value of keepMounted prop to false in Accordion component
  .gitignore
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/zh/docs/components/accordion.mdx
  packages/react/src/components/accordion/Accordion.tsx
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/__stories__/Dialog.stories.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/focusTrap/__tests__/FocusTrap.test.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/__tests__/ModalManager.test.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add .editorconfig and .gitattributes
  .editorconfig
  .gitattributes
Due: none

fix: use ownerDocument for event listeners in FocusTrap and ModalRoot components
  packages/react/src/components/focusTrap/FocusTrap.tsx
  packages/react/src/components/modal/ModalRoot.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update component descriptions
  docs/components/ComponentLinks.tsx
  docs/content/en/_meta.ts
  docs/content/en/docs/_meta.ts
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/divider.mdx
  docs/content/en/docs/components/flex.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/customization/dark-mode.mdx
  docs/content/en/docs/customization/theming.mdx
  docs/content/en/docs/getting-started/introduction.mdx
  docs/content/en/docs/styling/sx-prop.mdx
  docs/content/en/index.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/customization/components.mdx
  docs/content/zh/docs/getting-started/introduction.mdx
  docs/content/zh/index.mdx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update docs styles
  docs/components/ComponentLinks.tsx
  docs/components/Example.tsx
  docs/components/docs/homepage/CodeWindow.tsx
  docs/content/_demo/avatar/Colors.demo.tsx
  docs/content/zh/docs/customization/theming.mdx
  docs/globals.css
  docs/nextraTheme/components/navbar/index.tsx
  packages/react/src/theme/recipes/accordion.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: add AvatarGroup component docs
  .prettierrc.mjs
  .vscode/settings.json
  docs/content/_demo/avatar/Colors.demo.tsx
  docs/content/_demo/avatar/Fallback.demo.tsx
  docs/content/_demo/avatar/GroupCustomSurplus.demo.tsx
  docs/content/_demo/avatar/GroupMaxCount.demo.tsx
  docs/content/_demo/avatar/GroupSpacing.demo.tsx
  docs/content/_demo/avatar/GroupTotalCount.demo.tsx
  docs/content/_demo/avatar/Outlined.demo.tsx
  docs/content/_demo/avatar/Radius.demo.tsx
  docs/content/_demo/avatar/Sizes.demo.tsx
  docs/content/_demo/avatar/Usage.demo.tsx
  docs/content/_demo/avatar/index.tsx
  docs/content/en/docs/components/avatar.mdx
  docs/content/zh/docs/components/avatar.mdx
  packages/react/src/components/avatar/AvatarGroup.tsx
  packages/react/src/components/avatar/AvatarGroupContext.ts
  packages/react/src/components/avatar/__stories__/AvatarGroup.stories.tsx
  packages/react/src/components/avatar/types.ts
  packages/react/src/theme/recipes/avatar.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update docs descriptions to maintain consistency
  docs/content/_demo/checkbox/GroupVertical.demo.tsx
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/divider.mdx
  docs/content/en/docs/components/flex.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/flex.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/nextraTheme/components/navbar/index.tsx
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/checkbox/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: fix dark mode flicker
  docs/app/[lang]/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: refactor Dialog API
  docs/content/_demo/dialog/CustomMotion.demo.tsx
  docs/content/_demo/dialog/FullScreen.demo.tsx
  docs/content/_demo/dialog/Placements.demo.tsx
  docs/content/_demo/dialog/ScrollBehavior.demo.tsx
  docs/content/_demo/dialog/Sizes.demo.tsx
  docs/content/_demo/dialog/index.tsx
  docs/content/en/docs/components/dialog.mdx
  docs/content/zh/docs/components/dialog.mdx
  notes/todo.md
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogBody.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/dialog/DialogFooter.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__stories__/Dialog.stories.tsx
  packages/react/src/components/dialog/__stories__/DialogContent.stories.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DiglogContent.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalPanel.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/modal.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix
