Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: modify 'zIndexes' to 'zIndices'
  docs/components/docs/AvailableProps.tsx
  docs/content/_demo/alert/Radii.demo.tsx
  docs/content/_demo/alert/index.tsx
  docs/content/_demo/avatar/Radii.demo.tsx
  docs/content/_demo/avatar/index.tsx
  docs/content/_demo/button/Radii.demo.tsx
  docs/content/_demo/button/index.tsx
  docs/content/_demo/index.ts
  docs/content/en/docs/components/alert.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/customization/_meta.ts
  docs/content/en/docs/customization/tokens.mdx
  docs/content/en/docs/customization/z-indices.mdx
  docs/content/en/docs/styling/sx-prop.mdx
  docs/content/zh/docs/components/alert.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/customization/_meta.ts
  docs/content/zh/docs/customization/tokens.mdx
  docs/content/zh/docs/customization/z-indices.mdx
  docs/content/zh/docs/styling/sx-prop.mdx
  docs/nextraTheme/components/navbar/index.client.tsx
  packages/react/src/theme/recipes/tooltip.ts
  packages/react/src/theme/system/scales.ts
  packages/react/src/theme/system/tokens/index.ts
  packages/react/src/theme/system/tokens/zIndices.ts
  packages/react/src/types/generated/scales.ts
  packages/react/src/types/generated/tokens.ts
  packages/react/src/types/theme.ts
  packages/system/src/__tests__/__snapshots__/system.test.ts.snap
  packages/system/src/__tests__/system.test.ts
  packages/system/src/__tests__/tokens.test.ts
  packages/system/src/defineConfig.ts
  packages/system/src/index.ts
  packages/system/src/tokens/types.ts
  packages/system/src/utils.ts
  scripts/buildSysTs/generate.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: refactor default value of computePosition function
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/types.ts
  packages/react/src/components/utils/computePosition/__tests__/computePosition.test.ts
  packages/react/src/components/utils/computePosition/computePosition.ts
  packages/react/src/components/utils/computePosition/middleware/arrow.ts
  packages/react/src/components/utils/computePosition/middleware/flip.ts
  packages/react/src/components/utils/computePosition/middleware/index.ts
  packages/react/src/components/utils/computePosition/middleware/offset.ts
  packages/react/src/components/utils/computePosition/middleware/shift.ts
  packages/react/src/components/utils/computePosition/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: enhance PopperTrigger and Tooltip components with interactive and closeOnClick props
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/__tests__/PopperTrigger.test.tsx
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/__stories__/Tooltip.stories.tsx
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: add Tooltip documentation
  docs/content/_demo/tooltip/Colors.demo.tsx
  docs/content/_demo/tooltip/Controlled.demo.tsx
  docs/content/_demo/tooltip/CustomMotion.demo.tsx
  docs/content/_demo/tooltip/Delay.demo.tsx
  docs/content/_demo/tooltip/Interactive.demo.tsx
  docs/content/_demo/tooltip/Offset.demo.tsx
  docs/content/_demo/tooltip/Placements.demo.tsx
  docs/content/_demo/tooltip/Sizes.demo.tsx
  docs/content/_demo/tooltip/Usage.demo.tsx
  docs/content/_demo/tooltip/index.tsx
  docs/content/en/docs/components/_meta.ts
  docs/content/en/docs/components/alert.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/alert.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/content/zh/docs/components/tooltip.mdx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: implement PopperManager for managing popper instances
  docs/content/_demo/tooltip/CustomMotion.demo.tsx
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperManager.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/__tests__/PopperManager.test.tsx
  packages/react/src/components/utils/computePosition/__tests__/computePosition.test.ts
  packages/react/src/components/utils/computePosition/dom.ts
  packages/react/src/components/utils/computePosition/getElementRects.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: add motionProps to Tooltip for customizable animation effects
  docs/content/_demo/tooltip/CustomMotion.demo.tsx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/tooltip.mdx
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

temp
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperArrow.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/index.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/__stories__/Tooltip.stories.tsx
  packages/react/src/components/tooltip/types.ts
  packages/react/src/theme/recipes/tooltip.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update .coderabbit.yaml
  .coderabbit.yaml
Due: none

docs: update docs
  docs/components/docs/homepage/Gallery.client.tsx
  packages/react/src/components/tooltip/Tooltip.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: update query methods in renderWithNexUIProvider
  tests/shared/renderWithProvider.tsx
Due: prettier --write . --config .prettierrc.mjs

fix: update tooltipRecipe
  packages/react/src/theme/recipes/tooltip.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: the popper is open when tabbing to the trigger
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/__tests__/PopperTrigger.test.tsx
  packages/utils/src/is.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update docs
  docs/components/ComponentLinks.tsx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/radioGroup.mdx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: refactor Popper and Tooltip component props
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/__tests__/Popper.test.tsx
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update className prop descriptions
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/card.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/zh/docs/components/card.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/drawer.mdx
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/card/types.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/radioGroup/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: removing unnecessary provider logic
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/Drawer.tsx
  packages/react/src/components/drawer/DrawerContext.tsx
  packages/react/src/components/drawer/DrawerRoot.tsx
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/index.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/tooltip/Tooltip.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: update Tooltip accessibility
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/__tests__/Popper.test.tsx
  packages/react/src/components/popper/index.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/__tests__/Tooltip.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  packages/react/src/components/index.ts
  packages/react/src/components/popover/Popover.tsx
  packages/react/src/components/popover/PopoverContent.tsx
  packages/react/src/components/popover/PopoverContext.tsx
  packages/react/src/components/popover/PopoverRoot.tsx
  packages/react/src/components/popover/PopoverTrigger.tsx
  packages/react/src/components/popover/index.ts
  packages/react/src/components/popover/types.ts
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/popover.ts
  packages/react/src/theme/system/tokens/zIndices.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: update Tooltip accessibility
  .coderabbit.yaml
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/__tests__/Popper.test.tsx
  packages/react/src/components/popper/index.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/__tests__/Tooltip.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

Path conditions:
  prettier --write . --config .prettierrc.mjs: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.{cjs,mjs,js,jsx,ts,tsx}) or (any of: scripts/**/*.{cjs,mjs,js,jsx,ts,tsx})
  eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix: any of: docs/**/*.{cjs,mjs,js,jsx,ts,tsx}
