Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: removing unnecessary provider logic
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/Drawer.tsx
  packages/react/src/components/drawer/DrawerContext.tsx
  packages/react/src/components/drawer/DrawerRoot.tsx
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/index.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/tooltip/Tooltip.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: refactor Popper and Tooltip component props
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/__tests__/Popper.test.tsx
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update docs
  docs/components/ComponentLinks.tsx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/radioGroup.mdx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: update Tooltip accessibility
  .coderabbit.yaml
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/popper/__tests__/Popper.test.tsx
  packages/react/src/components/popper/index.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/__tests__/Tooltip.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update className prop descriptions
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/card.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/zh/docs/components/card.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/drawer.mdx
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/card/types.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/radioGroup/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: add Flip and Shift tooltip demos and documentation
  docs/content/_demo/tooltip/Flip.demo.tsx
  docs/content/_demo/tooltip/Interactive.demo.tsx
  docs/content/_demo/tooltip/Shift.demo.tsx
  docs/content/_demo/tooltip/index.tsx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/tooltip.mdx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: optimize useSlotAriaProps for Alert and Tooltip components
  packages/react/src/components/alert/Alert.tsx
  packages/react/src/components/tooltip/Tooltip.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: update Tooltip accessibility
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/popper/Popper.tsx
  packages/react/src/components/popper/PopperContext.ts
  packages/react/src/components/popper/PopperRoot.tsx
  packages/react/src/components/popper/PopperTrigger.tsx
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/utils/useSlot.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: add Popover component documentation
  docs/content/_demo/index.ts
  docs/content/_demo/popover/Colors.demo.tsx
  docs/content/_demo/popover/Controlled.demo.tsx
  docs/content/_demo/popover/CustomMotion.demo.tsx
  docs/content/_demo/popover/Flip.demo.tsx
  docs/content/_demo/popover/Offset.demo.tsx
  docs/content/_demo/popover/Placements.demo.tsx
  docs/content/_demo/popover/Shift.demo.tsx
  docs/content/_demo/popover/Usage.demo.tsx
  docs/content/_demo/popover/WithForm.demo.tsx
  docs/content/_demo/popover/index.tsx
  docs/content/_demo/tooltip/Colors.demo.tsx
  docs/content/_demo/tooltip/Flip.demo.tsx
  docs/content/_demo/tooltip/Placements.demo.tsx
  docs/content/en/docs/components/_meta.ts
  docs/content/en/docs/components/popover.mdx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/popover.mdx
  docs/content/zh/docs/components/tooltip.mdx
  packages/react/src/components/popover/PopoverTrigger.tsx
  packages/react/src/components/popover/__stories__/Popover.stories.tsx
  packages/react/src/components/popover/index.ts
  packages/react/src/components/popover/types.ts
  packages/react/src/theme/recipes/popover.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: correct icon button style during loading
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/__stories__/Button.stories.tsx
  packages/react/src/theme/recipes/button.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add maxWidth and maxHeight props to Popover and Tooltip components
  docs/content/_demo/popover/Colors.demo.tsx
  docs/content/en/docs/components/popover.mdx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/popover.mdx
  docs/content/zh/docs/components/tooltip.mdx
  packages/react/src/components/popover/PopoverContent.tsx
  packages/react/src/components/popover/types.ts
  packages/react/src/components/popper/PopperContent.tsx
  packages/react/src/components/popper/types.ts
  packages/react/src/components/tooltip/Tooltip.tsx
  packages/react/src/components/tooltip/types.ts
  packages/react/src/theme/recipes/popover.ts
  packages/react/src/theme/recipes/tooltip.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: improve documentation
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/alert.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/card.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/divider.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/flex.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/popover.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/alert.mdx
  docs/content/zh/docs/components/card.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/drawer.mdx
  docs/content/zh/docs/components/flex.mdx
  docs/content/zh/docs/components/popover.mdx
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/alert/types.ts
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/button/types.ts
  packages/react/src/components/card/types.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/divider/types.ts
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/flex/types.ts
  packages/react/src/components/icon/types.ts
  packages/react/src/components/input/types.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/popover/types.ts
  packages/react/src/components/popper/types.ts
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/components/switch/types.ts
  packages/react/src/components/tooltip/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Badge component
  packages/react/src/components/badge/Badge.tsx
  packages/react/src/components/badge/__stories__/Badge.stories.tsx
  packages/react/src/components/badge/__tests__/Badge.test.tsx
  packages/react/src/components/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/badge/__tests__/classes.ts
  packages/react/src/components/badge/index.ts
  packages/react/src/components/badge/types.ts
  packages/react/src/components/index.ts
  packages/react/src/theme/recipes/badge.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/semanticTokens.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Badge component
  packages/react/src/components/badge/Badge.tsx
  packages/react/src/components/badge/__stories__/Badge.stories.tsx
  packages/react/src/components/badge/__tests__/Badge.test.tsx
  packages/react/src/components/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/badge/__tests__/classes.ts
  packages/react/src/components/badge/index.ts
  packages/react/src/components/badge/types.ts
  packages/react/src/components/index.ts
  packages/react/src/theme/recipes/alert.ts
  packages/react/src/theme/recipes/badge.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/semanticTokens.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add startIcon and endIcon support to Badge component
  packages/react/src/components/badge/Badge.tsx
  packages/react/src/components/badge/__stories__/Badge.stories.tsx
  packages/react/src/components/badge/__tests__/Badge.test.tsx
  packages/react/src/components/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  packages/react/src/components/badge/types.ts
  packages/react/src/theme/recipes/badge.ts
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/system/tokens/radii.ts
  packages/react/src/theme/system/tokens/typography.ts
  packages/react/src/types/generated/tokens.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Badge component documentation
  docs/content/_demo/badge/Colors.demo.tsx
  docs/content/_demo/badge/Disabled.demo.tsx
  docs/content/_demo/badge/ListOfBadges.demo.tsx
  docs/content/_demo/badge/Radii.demo.tsx
  docs/content/_demo/badge/Sizes.demo.tsx
  docs/content/_demo/badge/Usage.demo.tsx
  docs/content/_demo/badge/Variants.demo.tsx
  docs/content/_demo/badge/WithCloseButton.demo.tsx
  docs/content/_demo/badge/WithIcons.demo.tsx
  docs/content/_demo/badge/index.tsx
  docs/content/_demo/index.ts
  docs/content/en/docs/components/_meta.ts
  docs/content/en/docs/components/badge.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/divider.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/flex.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/popover.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/en/docs/components/tooltip.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/badge.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/drawer.mdx
  docs/content/zh/docs/components/flex.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/popover.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/content/zh/docs/components/tooltip.mdx
  packages/react/src/components/alert/__tests__/__snapshots__/Alert.test.tsx.snap
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

Path conditions:
  prettier --write . --config .prettierrc.mjs: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.{cjs,mjs,js,jsx,ts,tsx}) or (any of: scripts/**/*.{cjs,mjs,js,jsx,ts,tsx})
  eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix: any of: docs/**/*.{cjs,mjs,js,jsx,ts,tsx}
