Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

docs: update CheckboxGroup
  docs/content/_demo/checkbox/Controlled.demo.tsx
  docs/content/_demo/checkbox/GroupUseage.demo.tsx
  docs/content/_demo/checkbox/GroupVertical.demo.tsx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/customization/spaces.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/customization/spaces.mdx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: remove CheckboxGroup and RadioGroup size styles
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/checkbox/classes.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/radioGroup/RadioGroup.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/radioGroup/classes.ts
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/radioGroup.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: remove unused class slots from components
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/avatar/__tests__/Avatar.test.tsx
  packages/react/src/components/avatar/__tests__/AvatarGroup.test.tsx
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/button/__tests__/Button.test.tsx
  packages/react/src/components/button/types.ts
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/__tests__/Drawer.test.tsx
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/input/__tests__/Input.test.tsx
  packages/react/src/components/input/types.ts
  packages/react/src/components/radioGroup/__tests__/Radio.test.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/components/switch/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update RadioGroup documentation
  docs/content/_demo/checkbox/Controlled.demo.tsx
  docs/content/_demo/index.ts
  docs/content/_demo/radioGroup/Colors.demo.tsx
  docs/content/_demo/radioGroup/Controlled.demo.tsx
  docs/content/_demo/radioGroup/DefaultValue.demo.tsx
  docs/content/_demo/radioGroup/Disabled.demo.tsx
  docs/content/_demo/radioGroup/Sizes.demo.tsx
  docs/content/_demo/radioGroup/Usage.demo.tsx
  docs/content/_demo/radioGroup/Vertical.demo.tsx
  docs/content/_demo/radioGroup/index.tsx
  docs/content/_demo/switch/Controlled.demo.tsx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/radioGroup/RadioGroup.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: correct spelling of 'pink'
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/switch.mdx
Due: prettier --write . --config .prettierrc.mjs

temp
  notes/todo.md
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/useInputAriaProps.tsx
  packages/react/src/theme/recipes/input.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: extract input a11y props
  notes/todo.md
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/components/utils/__tests__/useInputA11yProps.test.tsx
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/useInputA11yProps.ts
  packages/react/src/theme/recipes/input.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update ESLint and TypeScript configurations
  eslint.config.mjs
  packages/react/src/components/utils/__tests__/useInputA11yProps.test.tsx
  packages/react/tsconfig.json
  tsconfig.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: replace 'pt' with 'mt' for input spacing in inputRecipe
  packages/react/src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/react/src/theme/recipes/input.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix accessibility by adding tabIndex to DialogBody and DrawerBody
  notes/todo.md
  packages/react/src/components/dialog/DialogBody.tsx
  packages/react/src/components/drawer/DrawerBody.tsx
  packages/react/src/components/drawer/DrawerContent.tsx
  packages/react/src/theme/recipes/drawer.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

v0.0.13
  .changeset/orange-stingrays-sort.md
  packages/hooks/package.json
  packages/icons/package.json
  packages/styled/package.json
  packages/system/package.json
  packages/utils/package.json
Due: prettier --write . --config .prettierrc.mjs

test: update role attribute of DrawerContent
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: enhance metadata and add structured data for SEO optimization
  docs/app/[lang]/layout.tsx
  docs/app/manifest.ts
  docs/components/StructuredData.tsx
  docs/middleware.ts
  docs/public/og-image.svg
  docs/public/robots.txt
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: add Google site verification meta tag for SEO
  docs/app/[lang]/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update docs
  docs/app/[lang]/layout.tsx
  docs/components/docs/ColorsSet.tsx
  docs/components/docs/homepage/index.tsx
  docs/content/_demo/dialog/AsynchronouslyClose.demo.tsx
  docs/content/_demo/dialog/Controlled.demo.tsx
  docs/content/_demo/dialog/CustomMotion.demo.tsx
  docs/content/_demo/dialog/FullScreen.demo.tsx
  docs/content/_demo/dialog/HideBackdrop.demo.tsx
  docs/content/_demo/dialog/KeepMounted.demo.tsx
  docs/content/_demo/dialog/Placements.demo.tsx
  docs/content/_demo/dialog/PreventScroll.demo.tsx
  docs/content/_demo/dialog/Sizes.demo.tsx
  docs/content/_demo/dialog/Usage.demo.tsx
  docs/content/_demo/drawer/AsynchronouslyClose.demo.tsx
  docs/content/_demo/drawer/Controlled.demo.tsx
  docs/content/_demo/drawer/CustomMotion.demo.tsx
  docs/content/_demo/drawer/HideBackdrop.demo.tsx
  docs/content/_demo/drawer/KeepMounted.demo.tsx
  docs/content/_demo/drawer/Placements.demo.tsx
  docs/content/_demo/drawer/PreventScroll.demo.tsx
  docs/content/_demo/drawer/Sizes.demo.tsx
  docs/content/_demo/drawer/Usage.demo.tsx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/drawer.mdx
  docs/content/zh/docs/components/flex.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/switch.mdx
  notes/todo.md
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: refactor Input, Switch, Checkbox and Radio components to use InputBase
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__tests__/Input.test.tsx
  packages/react/src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/inputBase/__tests__/InputBase.test.tsx
  packages/react/src/components/inputBase/__tests__/__snapshots__/InputBase.test.tsx.snap
  packages/react/src/components/inputBase/index.ts
  packages/react/src/components/inputBase/types.ts
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/components/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  packages/react/src/components/utils/__tests__/useInputA11yProps.test.tsx
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/useInputA11yProps.ts
  packages/react/src/theme/recipes/buttonBase.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/recipes/radioGroup.ts
  packages/react/src/theme/recipes/switch.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: update styles and improve accessibility for ButtonBase and Accordion components
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/buttonBase/ButtonBase.tsx
  packages/react/src/components/buttonBase/__tests__/ButtonBase.test.tsx
  packages/react/src/components/buttonBase/__tests__/__snapshots__/ButtonBase.test.tsx.snap
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/drawer.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update Checkbox, Radio, and Switch components to remove defaultChecked prop
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/inputBase/InputBase.tsx
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/drawer.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix
