Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

ci(changesets): version packages
  .changeset/gold-bees-drive.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styled/CHANGELOG.md
  packages/styled/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
Due: prettier --write . --config .prettierrc.mjs

docs: fix threads animation compatibility
  docs/components/docs/homepage/Threads.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: add visual tests
  .github/common-actions/install/action.yml
  .github/workflows/QA.yml
  .github/workflows/visual-tests.yml
  .gitignore
  packages/react/src/components/avatar/__stories__/avatar.stories.tsx
  pnpm-lock.yaml
  sb/.storybook/main.ts
  sb/chromatic.config.json
  sb/package.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update styles
  docs/components/docs/homepage/Threads.tsx
  docs/components/docs/homepage/features/Theme.tsx
  docs/components/docs/homepage/features/demos/MusicPlayer.demo.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: optimize ci/cd
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
Due: none

v0.0.10
  .changeset/curvy-walls-dream.md
Due: prettier --write . --config .prettierrc.mjs

chore: optimize ci/cd
  .github/workflows/QA.yml
  .github/workflows/release.yml
  .github/workflows/visual-tests.yml
  .prettierignore
Due: none

refactor: redesign the styled utility function
  packages/react/src/components/utils/useSlotProps.ts
  packages/styled/src/index.ts
  packages/styled/src/nex.tsx
  packages/styled/src/styled.tsx
  packages/styled/src/types.ts
  packages/styled/src/utils.ts
  packages/system/src/__tests__/recipes.test.ts
  packages/system/src/normalize.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update colors
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/divider.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/theme/system/tokens/colors.ts
  packages/react/src/types/generated/semanticTokens.ts
  sb/.storybook/preview-head.html
  sb/.storybook/preview.tsx
  sb/.storybook/withTheme.decorator.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix the type hints for virtual color
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: update CheckboxGroup
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/IndeterminateIcon.tsx
  packages/react/src/components/checkbox/__stories__/checkbox.stories.tsx
  packages/react/src/components/checkbox/__stories__/checkboxGroup.stories.tsx
  packages/react/src/components/checkbox/index.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update README.md
  README.md
  assets/construction.png
  docs/app/[lang]/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: update styles
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/recipes/switch.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix type error
  docs/content/en/docs/components/input.mdx
  docs/content/zh/docs/components/input.mdx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__tests__/input.test.tsx
  packages/react/src/components/input/types.ts
  packages/react/src/components/utils/useSlotProps.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/types/utils.ts
  packages/utils/src/mergeProps.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  notes/组件设计原则.md
  packages/icons/src/components/index.tsx
  packages/icons/src/components/outlined/CloseOutlined.tsx
  packages/icons/src/svg/outlined/close.svg
  packages/react/package.json
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/checkbox/CheckedIcon.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalClose.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalFooter.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/ModalTrigger.tsx
  packages/react/src/components/modal/index.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/portal/Portal.tsx
  packages/react/src/components/utils/portal/index.ts
  packages/react/src/components/utils/portal/types.ts
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
  packages/react/src/components/utils/useDefaultProps.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/modal.ts
  packages/react/src/theme/system/tokens/zIndexes.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/tokens.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

temo: modal
  notes/组件设计原则.md
  packages/icons/src/components/index.tsx
  packages/icons/src/components/outlined/CloseOutlined.tsx
  packages/icons/src/svg/outlined/close.svg
  packages/react/package.json
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/checkbox/CheckedIcon.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalClose.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalFooter.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/ModalRoot.tsx
  packages/react/src/components/modal/ModalTrigger.tsx
  packages/react/src/components/modal/index.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/portal/Portal.tsx
  packages/react/src/components/utils/portal/index.ts
  packages/react/src/components/utils/portal/types.ts
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
  packages/react/src/components/utils/useDefaultProps.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/modal.ts
  packages/react/src/theme/system/tokens/zIndexes.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/tokens.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

perf: lazy loading motion features
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/checkbox/CheckedIcon.tsx
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/motionFeatures/features.ts
  packages/react/src/components/utils/motionFeatures/index.ts
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: redesign component structure
  notes/todo.md
  packages/react/package.json
  packages/react/src/components/accordion/Accordion.tsx
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/avatar/Avatar.tsx
  packages/react/src/components/avatar/AvatarGroup.tsx
  packages/react/src/components/box/Box.tsx
  packages/react/src/components/box/types.ts
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/ButtonBase.tsx
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/divider/Divider.tsx
  packages/react/src/components/flex/Flex.tsx
  packages/react/src/components/icon/Icon.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/components/utils/index.ts
  packages/react/src/components/utils/ripple/types.ts
  packages/react/src/components/utils/ripple/useRippleMotion.tsx
  packages/react/src/components/utils/useSlot.tsx
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/system/tokens/colors.ts
  packages/react/src/types/utils.ts
  packages/styled/src/index.ts
  packages/styled/src/nex.tsx
  packages/styled/src/styled.tsx
  packages/styled/src/tags.ts
  packages/styled/src/types.ts
  packages/utils/src/mergeProps.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

style: update styles
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useControlledState.ts
  packages/hooks/src/useFocusRing.ts
  packages/hooks/src/useFocusVisible.ts
  packages/react/src/components/button/ButtonBase.tsx
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/theme/recipes/button.ts
  packages/react/src/theme/recipes/input.ts
  packages/react/src/theme/system/scales.ts
  packages/react/src/theme/system/selectors.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/theme/system/tokens/colors.ts
  packages/react/src/types/generated/scales.ts
  packages/react/src/types/generated/selectors.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

perf: add useMemo
  packages/react/src/components/accordion/Accordion.tsx
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/avatar/Avatar.tsx
  packages/react/src/components/avatar/AvatarGroup.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/ButtonBase.tsx
  packages/react/src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/react/src/components/button/__tests__/button.test.tsx
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/divider/Divider.tsx
  packages/react/src/components/divider/__tests__/__snapshots__/divider.test.tsx.snap
  packages/react/src/components/flex/Flex.tsx
  packages/react/src/components/icon/Icon.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/react/src/components/switch/Switch.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update styles
  docs/app/[lang]/layout.tsx
  docs/components/docs/homepage/Threads.tsx
  docs/globals.css
  docs/nextraTheme/components/navbar/index.client.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

Path conditions:
  prettier --write . --config .prettierrc.mjs: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.{cjs,mjs,js,jsx,ts,tsx}) or (any of: scripts/**/*.{cjs,mjs,js,jsx,ts,tsx})
  eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix: any of: docs/**/*.{cjs,mjs,js,jsx,ts,tsx}
