Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

docs: update accessibility descriptions
  docs/components/docs/homepage/index.tsx
  docs/content/en/index.mdx
  docs/content/zh/index.mdx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

chore: upgraded Storybook
  notes/todo.md
  packages/icons/package.json
  packages/icons/src/components/__stories__/Icons.stories.tsx
  packages/icons/tsconfig.json
  packages/react/package.json
  packages/react/src/components/accordion/__stories__/Accordion.stories.tsx
  packages/react/src/components/alert/__stories__/Alert.stories.tsx
  packages/react/src/components/avatar/__stories__/Avatar.stories.tsx
  packages/react/src/components/avatar/__stories__/AvatarGroup.stories.tsx
  packages/react/src/components/badge/__stories__/Badge.stories.tsx
  packages/react/src/components/box/__stories__/Box.stories.tsx
  packages/react/src/components/button/__stories__/Button.stories.tsx
  packages/react/src/components/card/__stories__/Card.stories.tsx
  packages/react/src/components/checkbox/__stories__/Checkbox.stories.tsx
  packages/react/src/components/checkbox/__stories__/CheckboxGroup.stories.tsx
  packages/react/src/components/dialog/__stories__/Dialog.stories.tsx
  packages/react/src/components/dialog/__stories__/DialogContent.stories.tsx
  packages/react/src/components/divider/__stories__/Divider.stories.tsx
  packages/react/src/components/drawer/__stories__/Drawer.stories.tsx
  packages/react/src/components/drawer/__stories__/DrawerContent.stories.tsx
  packages/react/src/components/flex/__stories__/Flex.stories.tsx
  packages/react/src/components/icon/__stories__/Icon.stories.tsx
  packages/react/src/components/input/__stories__/Input.stories.tsx
  packages/react/src/components/popover/__stories__/Popover.stories.tsx
  packages/react/src/components/radioGroup/__stories__/RadioGroup.stories.tsx
  packages/react/src/components/switch/__stories__/Switch.stories.tsx
  packages/react/src/components/tooltip/__stories__/Tooltip.stories.tsx
  packages/react/tsconfig.json
  pnpm-lock.yaml
  sb/.storybook/main.ts
  sb/.storybook/manager.ts
  sb/.storybook/modes.ts
  sb/.storybook/preview.tsx
  sb/.storybook/theme.ts
  sb/chromatic.config.json
  sb/package.json
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

story: improve stories
  packages/react/src/components/accordion/__stories__/Accordion.stories.tsx
  packages/react/src/components/alert/__stories__/Alert.stories.tsx
  packages/react/src/components/avatar/__stories__/Avatar.stories.tsx
  packages/react/src/components/avatar/__stories__/AvatarGroup.stories.tsx
  packages/react/src/components/badge/__stories__/Badge.stories.tsx
  packages/react/src/components/box/__stories__/Box.stories.tsx
  packages/react/src/components/button/__stories__/Button.stories.tsx
  packages/react/src/components/card/__stories__/Card.stories.tsx
  packages/react/src/components/checkbox/__stories__/Checkbox.stories.tsx
  packages/react/src/components/checkbox/__stories__/CheckboxGroup.stories.tsx
  packages/react/src/components/dialog/__stories__/Dialog.stories.tsx
  packages/react/src/components/dialog/__stories__/DialogContent.stories.tsx
  packages/react/src/components/drawer/__stories__/Drawer.stories.tsx
  packages/react/src/components/drawer/__stories__/DrawerContent.stories.tsx
  packages/react/src/components/input/Input.tsx
  packages/react/src/components/input/__stories__/Input.stories.tsx
  packages/react/src/components/popover/__stories__/Popover.stories.tsx
  packages/react/src/components/radioGroup/__stories__/RadioGroup.stories.tsx
  packages/react/src/components/switch/__stories__/Switch.stories.tsx
  packages/react/src/components/tooltip/__stories__/Tooltip.stories.tsx
  packages/react/tsconfig.json
  packages/system/src/aliases.ts
  packages/system/src/breakpoints.ts
  packages/system/src/css.ts
  packages/system/src/scales.ts
  packages/system/src/selectors.ts
  packages/system/src/tokens/createTokens.ts
  packages/system/src/utils.ts
  packages/utils/src/__tests__/upperFirst.test.ts
  packages/utils/src/shared/index.ts
  packages/utils/src/shared/upperFirst.ts
  sb/tsconfig.json
  sb/utils/constants.ts
  sb/utils/index.ts
  sb/utils/normalize.ts
  sb/vite.config.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: support cascade layers to system
  packages/react/src/components/provider/Provider.tsx
  packages/react/src/components/provider/__tests__/Provider.test.tsx
  packages/react/src/components/provider/types.ts
  packages/system/src/__tests__/system.test.ts
  packages/system/src/index.ts
  packages/system/src/layers/createLayers.ts
  packages/system/src/layers/index.ts
  packages/system/src/layers/types.ts
  packages/system/src/system.ts
  packages/system/src/systemProvider/SystemContext.ts
  packages/system/src/systemProvider/SystemProvider.tsx
  tests/shared/renderWithProvider.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: rename disableRipple prop to rippleDisabled for consistency
  docs/content/en/docs/components/button.mdx
  docs/content/zh/docs/components/button.mdx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/__stories__/Button.stories.tsx
  packages/react/src/components/button/__tests__/Button.test.tsx
  packages/react/src/components/button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/button/types.ts
  packages/react/src/theme/recipes/button.ts
  packages/system/src/systemProvider/SystemProvider.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: remove tabIndex from ModalRoot component
  packages/react/src/components/modal/ModalRoot.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update cli README.md
  packages/cli/README.md
Due: prettier --write . --config .prettierrc.mjs

v0.0.18
  .changeset/grumpy-windows-smile.md
Due: prettier --write . --config .prettierrc.mjs

chore: run both build and build:cli commands in parallel
  .github/workflows/release.yml
Due: none

chore: release @nex-ui/cli v0.0.13
  .changeset/heavy-bottles-confess.md
Due: prettier --write . --config .prettierrc.mjs

refactor: update token definitions for consistency
  packages/system/src/defineConfig.ts
  packages/system/src/index.ts
  packages/system/src/tokens/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Breadcrumb component
  packages/icons/src/components/filled/EllipsisFilled.tsx
  packages/icons/src/components/index.tsx
  packages/icons/src/svg/filled/ellipsis.svg
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/breadcrumb/Breadcrumb.tsx
  packages/react/src/components/breadcrumb/BreadcrumbItem.tsx
  packages/react/src/components/breadcrumb/__stories__/Breadcrumb.stories.tsx
  packages/react/src/components/breadcrumb/__tests__/Breadcrumb.test.tsx
  packages/react/src/components/breadcrumb/__tests__/BreadcrumbItem.test.tsx
  packages/react/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/breadcrumb/__tests__/classes.ts
  packages/react/src/components/breadcrumb/index.ts
  packages/react/src/components/breadcrumb/types.ts
  packages/react/src/components/index.ts
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/theme/recipes/breadcrumb.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/system/semanticTokens/colors.ts
  packages/react/src/types/componentThemes.ts
  packages/react/src/types/generated/semanticTokens.ts
  packages/styled/src/nex.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: enhance Breadcrumb component with expand button and accessibility improvements
  packages/react/src/components/breadcrumb/Breadcrumb.tsx
  packages/react/src/components/breadcrumb/BreadcrumbItem.tsx
  packages/react/src/components/breadcrumb/__stories__/Breadcrumb.stories.tsx
  packages/react/src/components/breadcrumb/__tests__/Breadcrumb.test.tsx
  packages/react/src/components/breadcrumb/__tests__/BreadcrumbItem.test.tsx
  packages/react/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/breadcrumb/__tests__/classes.ts
  packages/react/src/components/breadcrumb/types.ts
  packages/react/src/theme/recipes/breadcrumb.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: standardize class naming conventions
  packages/react/src/components/alert/__tests__/Alert.test.tsx
  packages/react/src/components/alert/__tests__/classes.ts
  packages/react/src/components/badge/__tests__/classes.ts
  packages/react/src/components/breadcrumb/__tests__/Breadcrumb.test.tsx
  packages/react/src/components/breadcrumb/__tests__/classes.ts
  packages/react/src/components/button/__tests__/Button.test.tsx
  packages/react/src/components/button/__tests__/classes.ts
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/__tests__/classes.ts
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
  packages/react/src/components/drawer/__tests__/classes.ts
  packages/react/src/components/input/__tests__/Input.test.tsx
  packages/react/src/components/input/__tests__/classes.ts
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/components/switch/__tests__/classes.ts
  packages/react/src/components/utils/generateSlotClasses.ts
  tests/shared/testClassNamesForwarding.tsx
  tests/shared/testSlotPropsForwarding.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix
