Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}": "prettier --write . --config .prettierrc.mjs",
  "packages/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "scripts/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c eslint.config.mjs --max-warnings=0 --fix",
  "docs/**/*.{cjs,mjs,js,jsx,ts,tsx}": "eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix"
}

refactor: refactor Dialog API
  docs/content/_demo/dialog/CustomMotion.demo.tsx
  docs/content/_demo/dialog/FullScreen.demo.tsx
  docs/content/_demo/dialog/Placements.demo.tsx
  docs/content/_demo/dialog/ScrollBehavior.demo.tsx
  docs/content/_demo/dialog/Sizes.demo.tsx
  docs/content/_demo/dialog/index.tsx
  docs/content/en/docs/components/dialog.mdx
  docs/content/zh/docs/components/dialog.mdx
  notes/todo.md
  packages/react/src/components/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/DialogBody.tsx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/DialogContext.tsx
  packages/react/src/components/dialog/DialogFooter.tsx
  packages/react/src/components/dialog/DialogRoot.tsx
  packages/react/src/components/dialog/__stories__/Dialog.stories.tsx
  packages/react/src/components/dialog/__stories__/DialogContent.stories.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalContext.tsx
  packages/react/src/components/modal/ModalPanel.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/theme/recipes/accordion.ts
  packages/react/src/theme/recipes/dialog.ts
  packages/react/src/theme/recipes/modal.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: fix dark mode flicker
  docs/app/[lang]/layout.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

feat: add Drawer component
  docs/content/_demo/drawer/Controlled.demo.tsx
  docs/content/_demo/drawer/CustomMotion.demo.tsx
  docs/content/_demo/drawer/HideBackdrop.demo.tsx
  docs/content/_demo/drawer/KeepMounted.demo.tsx
  docs/content/_demo/drawer/Placements.demo.tsx
  docs/content/_demo/drawer/PreventScroll.demo.tsx
  docs/content/_demo/drawer/Sizes.demo.tsx
  docs/content/_demo/drawer/Usage.demo.tsx
  docs/content/_demo/drawer/index.tsx
  docs/content/_demo/index.ts
  docs/content/en/docs/components/drawer.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/drawer.mdx
  packages/react/src/components/dialog/DialogContent.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/classes.ts
  packages/react/src/components/drawer/Drawer.tsx
  packages/react/src/components/drawer/DrawerBody.tsx
  packages/react/src/components/drawer/DrawerClose.tsx
  packages/react/src/components/drawer/DrawerContent.tsx
  packages/react/src/components/drawer/DrawerContext.tsx
  packages/react/src/components/drawer/DrawerFooter.tsx
  packages/react/src/components/drawer/DrawerHeader.tsx
  packages/react/src/components/drawer/DrawerRoot.tsx
  packages/react/src/components/drawer/DrawerTrigger.tsx
  packages/react/src/components/drawer/__stories__/Drawer.stories.tsx
  packages/react/src/components/drawer/__stories__/DrawerContent.stories.tsx
  packages/react/src/components/drawer/__tests__/Drawer.test.tsx
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
  packages/react/src/components/drawer/classes.ts
  packages/react/src/components/drawer/index.ts
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/index.ts
  packages/react/src/theme/recipes/drawer.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

fix: improve AccordionItem initial animation handling
  packages/react/src/components/accordion/AccordionItem.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add asynchronous close functionality to Modal component
  docs/content/_demo/dialog/AsynchronouslyClose.demo.tsx
  docs/content/_demo/dialog/index.tsx
  docs/content/_demo/drawer/AsynchronouslyClose.demo.tsx
  docs/content/_demo/drawer/index.tsx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/drawer.mdx
  packages/react/src/components/accordion/AccordionItem.tsx
  packages/react/src/components/dialog/Dialog.tsx
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/Drawer.tsx
  packages/react/src/components/drawer/__tests__/Drawer.test.tsx
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/modal/Modal.tsx
  packages/react/src/components/modal/ModalClose.tsx
  packages/react/src/components/modal/__tests__/Modal.test.tsx
  packages/react/src/components/modal/__tests__/ModalClose.test.tsx
  packages/react/src/components/modal/__tests__/ModalTrigger.test.tsx
  packages/react/src/components/modal/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

temp
  notes/todo.md
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/index.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/modal/__tests__/ModalClose.test.tsx
  packages/react/src/components/modal/types.ts
  packages/react/src/components/radio/Radio.tsx
  packages/react/src/components/radio/RadioGroup.tsx
  packages/react/src/components/radio/RadioGroupContext.tsx
  packages/react/src/components/radio/RadioManager.tsx
  packages/react/src/components/radio/__stories__/Radio.stories.tsx
  packages/react/src/components/radio/index.ts
  packages/react/src/components/radio/types.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/radio.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: fix keyboard accessibility for non-interactive elements
  notes/todo.md
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/buttonBase/ButtonBase.tsx
  packages/react/src/components/buttonBase/__tests__/ButtonBase.test.tsx
  packages/react/src/components/checkbox/Checkbox.tsx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/index.ts
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/__tests__/Drawer.test.tsx
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
  packages/react/src/components/drawer/index.ts
  packages/react/src/components/modal/ModalBody.tsx
  packages/react/src/components/modal/ModalContent.tsx
  packages/react/src/components/modal/ModalHeader.tsx
  packages/react/src/components/modal/constants.ts
  packages/react/src/components/modal/types.ts
  packages/react/src/components/switch/Switch.tsx
  packages/react/src/components/switch/__tests__/Switch.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add Radio and RadioGroup components
  packages/react/src/components/index.ts
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/radioGroup/RadioGroup.tsx
  packages/react/src/components/radioGroup/RadioGroupContext.tsx
  packages/react/src/components/radioGroup/__stories__/RadioGroup.stories.tsx
  packages/react/src/components/radioGroup/__tests__/Radio.test.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/radioGroup/classes.ts
  packages/react/src/components/radioGroup/index.ts
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/theme/recipes/index.ts
  packages/react/src/theme/recipes/radioGroup.ts
  packages/react/src/types/componentThemes.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

fix: replace keyboard input placeholder with space for accessibility tests
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/buttonBase/__tests__/ButtonBase.test.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/radioGroup/__tests__/Radio.test.tsx
  packages/react/src/components/switch/__tests__/Switch.test.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: enhance CheckboxGroup with label and slotProps support
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/__stories__/CheckboxGroup.stories.tsx
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/checkbox/classes.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/theme/recipes/checkbox.ts
  tests/shared/renderWithProvider.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

refactor: update RadioGroup classes
  packages/react/src/components/radioGroup/RadioGroup.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/radioGroup/classes.ts
  packages/react/src/components/radioGroup/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update CheckboxGroup
  docs/content/_demo/checkbox/Controlled.demo.tsx
  docs/content/_demo/checkbox/GroupUseage.demo.tsx
  docs/content/_demo/checkbox/GroupVertical.demo.tsx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/customization/spaces.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/customization/spaces.mdx
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: remove CheckboxGroup and RadioGroup size styles
  packages/react/src/components/checkbox/CheckboxGroup.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  packages/react/src/components/checkbox/classes.ts
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/radioGroup/RadioGroup.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  packages/react/src/components/radioGroup/classes.ts
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/theme/recipes/checkbox.ts
  packages/react/src/theme/recipes/radioGroup.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update RadioGroup documentation
  docs/content/_demo/checkbox/Controlled.demo.tsx
  docs/content/_demo/index.ts
  docs/content/_demo/radioGroup/Colors.demo.tsx
  docs/content/_demo/radioGroup/Controlled.demo.tsx
  docs/content/_demo/radioGroup/DefaultValue.demo.tsx
  docs/content/_demo/radioGroup/Disabled.demo.tsx
  docs/content/_demo/radioGroup/Sizes.demo.tsx
  docs/content/_demo/radioGroup/Usage.demo.tsx
  docs/content/_demo/radioGroup/Vertical.demo.tsx
  docs/content/_demo/radioGroup/index.tsx
  docs/content/_demo/switch/Controlled.demo.tsx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/zh/docs/components/_meta.ts
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  packages/react/src/components/radioGroup/Radio.tsx
  packages/react/src/components/radioGroup/RadioGroup.tsx
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

docs: update documentation
  docs/components/docs/homepage/features/demos/MusicPlayer.demo.tsx
  docs/content/en/docs/components/accordion.mdx
  docs/content/en/docs/components/avatar.mdx
  docs/content/en/docs/components/button.mdx
  docs/content/en/docs/components/checkbox.mdx
  docs/content/en/docs/components/dialog.mdx
  docs/content/en/docs/components/divider.mdx
  docs/content/en/docs/components/drawer.mdx
  docs/content/en/docs/components/flex.mdx
  docs/content/en/docs/components/input.mdx
  docs/content/en/docs/components/radioGroup.mdx
  docs/content/en/docs/components/switch.mdx
  docs/content/zh/docs/components/accordion.mdx
  docs/content/zh/docs/components/avatar.mdx
  docs/content/zh/docs/components/button.mdx
  docs/content/zh/docs/components/checkbox.mdx
  docs/content/zh/docs/components/dialog.mdx
  docs/content/zh/docs/components/divider.mdx
  docs/content/zh/docs/components/drawer.mdx
  docs/content/zh/docs/components/flex.mdx
  docs/content/zh/docs/components/input.mdx
  docs/content/zh/docs/components/radioGroup.mdx
  docs/content/zh/docs/components/switch.mdx
  docs/public/images/album-cover.png
  notes/todo.md
Due: prettier --write . --config .prettierrc.mjs, eslint -c ./docs/eslint.config.mjs --max-warnings=0 --fix

refactor: remove unused class slots from components
  packages/react/src/components/accordion/__tests__/Accordion.test.tsx
  packages/react/src/components/accordion/types.ts
  packages/react/src/components/avatar/__tests__/Avatar.test.tsx
  packages/react/src/components/avatar/__tests__/AvatarGroup.test.tsx
  packages/react/src/components/avatar/types.ts
  packages/react/src/components/button/__tests__/Button.test.tsx
  packages/react/src/components/button/types.ts
  packages/react/src/components/checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/components/checkbox/__tests__/CheckboxGroup.test.tsx
  packages/react/src/components/checkbox/types.ts
  packages/react/src/components/dialog/__tests__/Dialog.test.tsx
  packages/react/src/components/dialog/__tests__/DialogContent.test.tsx
  packages/react/src/components/dialog/types.ts
  packages/react/src/components/drawer/__tests__/Drawer.test.tsx
  packages/react/src/components/drawer/__tests__/DrawerContent.test.tsx
  packages/react/src/components/drawer/types.ts
  packages/react/src/components/input/__tests__/Input.test.tsx
  packages/react/src/components/input/types.ts
  packages/react/src/components/radioGroup/__tests__/Radio.test.tsx
  packages/react/src/components/radioGroup/__tests__/RadioGroup.test.tsx
  packages/react/src/components/radioGroup/types.ts
  packages/react/src/components/switch/__tests__/Switch.test.tsx
  packages/react/src/components/switch/types.ts
Due: prettier --write . --config .prettierrc.mjs, eslint -c eslint.config.mjs --max-warnings=0 --fix
