Repository rxy001/nex-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write . --config .prettierrc.json, eslint -c eslint.config.mjs --max-warnings=0 --fix

chore: update README.md
  packages/cli/README.md
Due: prettier --write . --config .prettierrc.json

fix: fix the sx prop's incorrect type hints
  package.json
  packages/react/src/types/declare.ts
  pnpm-lock.yaml
  scripts/build.ts
Due: prettier --write . --config .prettierrc.json, eslint -c eslint.config.mjs --max-warnings=0 --fix

temp
  packages/cli/package.json
  packages/cli/src/actions/init.ts
Due: prettier --write . --config .prettierrc.json, eslint -c eslint.config.mjs --max-warnings=0 --fix

feat: add a check for the Node.js version
  packages/cli/package.json
  packages/cli/src/actions/init.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.json, eslint -c eslint.config.mjs --max-warnings=0 --fix

docs: update installation docs
  docs/components/GradientText.tsx
  docs/components/docs/homepage/Threads.tsx
  docs/components/docs/homepage/index.tsx
  docs/components/index.ts
  docs/content/en/docs/getting-started/installation.mdx
  docs/content/en/index.mdx
  docs/content/zh/docs/getting-started/_meta.ts
  docs/content/zh/docs/getting-started/installation.mdx
  docs/globals.css
  docs/icons/npm.svg
  docs/icons/pnpm.svg
  docs/icons/yarn.svg
  docs/package.json
  packages/system/package.json
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.json

chore: update pkg
  packages/cli/package-lock.json
  packages/system/package.json
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.json

docs: update installation docs
  docs/app/[lang]/layout.tsx
  docs/content/en/docs/getting-started/installation.mdx
  docs/content/zh/docs/getting-started/installation.mdx
  docs/next.config.ts
  docs/nextraTheme/components/navbar/index.client.tsx
  docs/nextraTheme/layout.tsx
Due: prettier --write . --config .prettierrc.json

style: update the styling of the document homepage
  docs/components/CodeBlock.tsx
  docs/components/GradientText.tsx
  docs/components/docs/homepage/CodeWindow.tsx
  docs/components/docs/homepage/features/Theme.tsx
  docs/components/docs/homepage/features/demos/MusicPlayer.demo.tsx
  docs/components/docs/homepage/index.tsx
  docs/content/en/index.mdx
  docs/globals.css
  docs/nextraTheme/components/theme-switch.tsx
  packages/system/src/colorScheme/types.ts
  packages/system/src/types.ts
Due: prettier --write . --config .prettierrc.json, eslint -c eslint.config.mjs --max-warnings=0 --fix

v0.0.4
  .changeset/five-beers-taste.md
Due: prettier --write . --config .prettierrc.json

ci(changesets): version packages
  .changeset/five-beers-taste.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styled/CHANGELOG.md
  packages/styled/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write . --config .prettierrc.json

v0.0.5
  .changeset/ten-apples-help.md
  package.json
Due: prettier --write . --config .prettierrc.json

ci(changesets): version packages
  .changeset/ten-apples-help.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styled/CHANGELOG.md
  packages/styled/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write . --config .prettierrc.json

chore: resolve Github Actions' publishing failure
  .github/workflows/release.yml
Due: none

v0.0.6
  .changeset/odd-pillows-press.md
Due: prettier --write . --config .prettierrc.json

ci(changesets): version packages
  .changeset/odd-pillows-press.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styled/CHANGELOG.md
  packages/styled/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write . --config .prettierrc.json

chore: update examples
  .changeset/khaki-impalas-wash.md
  examples/nex-ui-nextjs-app/package.json
  examples/nex-ui-nextjs-pages/package.json
  examples/nex-ui-vite-swc/package.json
  examples/nex-ui-vite/package.json
  packages/system/package.json
  pnpm-lock.yaml
Due: prettier --write . --config .prettierrc.json

ci(changesets): version packages
  .changeset/khaki-impalas-wash.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styled/CHANGELOG.md
  packages/styled/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write . --config .prettierrc.json

Path conditions:
  prettier --write . --config .prettierrc.json: any of: **/*.{cjs,mjs,js,jsx,ts,tsx,css,json,md,mdx}
  eslint -c eslint.config.mjs --max-warnings=0 --fix: (any of: packages/**/*.ts) or (any of: scripts/**/*.ts)
